<div class="p-8">
    <div class="flex">
        <div>
            <img src="./assets/images/chatgpt.png" alt="" class="h-12">
        </div>
        <div class="ml-4">
            <h1 class="text-4xl font-bold text-gray-800">GPT App</h1>
            <span class="mt-8 text-xl">Welcome to GPT Angular app</span>
        </div>
    </div>
    <br>
    <br>
    <div class="w-full mb-3">
        <input (keyup.enter)="consultar(prompt.value)" class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm"
            id="name" name="name" type="text" placeholder="Write anything" #prompt>
    </div>
    <div class="w-full mb-3">
        <div class="flex md:items-center mb-5">
            <div class="w-auto">
                <button class="bg-green-600 shadow py-2 px-4 rounded flex justify-center items-center text-white" type="submit" (click)="consultar(prompt.value)">
            {{enviando? 'Enviando': 'Preguntar'}}
                    <svg *ngIf="!enviando" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2 animate__animated animate__fadeInUp" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
                    </svg>

                    <svg *ngIf="enviando" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2 text-white animate__animated animate__fadeInUp" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
                    </svg>
                  </button>
            </div>
        </div>
    </div>
    <div>
        <img src="./assets/images/loader.gif" alt="" *ngIf="enviando" class="h-8">
        <span class="text-sm mt-11">{{resGPT}}</span>
    </div>